NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=test_pk_1e2e2d1a-9b2b-4b1a-8b6a-2b0f3b7c5c5a
CLERK_SECRET_KEY=test_sk_1e2e2d1a-9b2b-4b1a-8b6a-2b0f3b7c5c5a

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

OPENAI_API_KEY=test_sk_1e2e2d1a-9b2b-4b1a-8b6a-2b0f3b7c5c5a

REPLICATEAI_API_TOKEN=test_sk_1e2e2d1a-9b2b-4b1a-8b6a-2b0f3b7c5c5a

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='test_sk_1e2e2d1a-9b2b-4b1a-8b6a-2b0f3b7c5c5a'
STRIPE_API_KEY=test_sk_1e2e2d1a-9b2b-4b1a-8b6a-2b0f3b7c5c5a
NEXT_PUBLIC_APP_URL=http://localhost:3000

STRIPE_WEBHOOK_SECRET=test_sk_1e2e2d1a-9b2b-4b1a-8b6a-2b0f3b7c5c5a